.o_portal_sign_name_and_signature {
    // for the absolute of the font selection to work
    position: relative;
}

/* Signature Dialog */
// The .card selector is important to make sure the position absolute will take
// priority over the position relative of the card.
.card.o_portal_sign_auto_font_selection {
    @include o-position-absolute(0, 0);

    .o_portal_sign_auto_font_list {
        overflow: auto;

        > a {
            height: 100px;

            > img {
                height: 100%;
            }
        }
    }
}
